[push]
	default = simple
[user]
	email = metalnem@mijailovic.net
	name = Nemanja Mijailovic
[merge]
	tool = kdiff3
[diff]
	tool = kdiff3
[core]
	editor = code --wait
	excludesfile = /Users/Metalnem/.gitignore_global
